
@{
    Layout = "_MasterLayout";
}
<!--   Header  -->
            <header class="secureLayout">
                <nav class="top-nav blue-grey lighten-1">
                    <div class="nav-wrapper row valign-wrapper">
                        <a href="#" data-activates="nav-mobile" 
                           class="button-collapse top-nav full 
                           hide-on-large-only white text-accent-1">
                           <i class="material-icons">menu</i>
                        </a>
                        @*<h1>Pirandello/Kruger</h1>
                        <h2>@ViewData["Title"]</h2>*@
                    </div>
                </nav>

        <!--   Sidebar  -->
                <ul id="nav-mobile" class="sidenav-fixed">
                    <li>Dashboard</li>
                    <li>User Administration</li>
                    <li>Service Requests</li>
                    <li>Service Notifications</li>
                    <li>Promotion</li>
                    <li>Settings</li>
                    <li><a asp-controller="Account" asp-action="logout">Logout</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Back to Home Page</a></li>
                </ul>
            </header>

            <!--   Content Page  -->
            <main class="secureLayout">
                <div class="row margin-bottom-0px">
                    <div class="col s12">
                        @RenderBody()
                    </div>
                </div>
            </main>

            <!--   Footer  -->
            <footer class="page-footer blue-grey lighten-1 secureLayout">
                <div class="row">
                    <div class="col l6 s12">
                        <h4>About Us</h4>
                        <p>Text about company</p>
                    </div>
                    <div class="col l3 s12">
                        <h4>Additional Services</h4>
                        <ul>
                            <li>Services</li>
                            <li>Career</li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h4>Connect</h4>
                        <ul>
                            <li>Facebook</li>
                            <li>Linkedin</li>
                            <li>Twitter</li>
                            <li>Youtube</li>
                        </ul>
                    </div>
                </div>
                <div class="footer-copyright row margin-bottom-0px">
                    <div class="col s12">
                        Made by 
                        <a class="brown-text text-lighten-3" 
                                   href="http://materializecss.com">
                        Materialize
                        </a>
                    </div>
                </div>
            </footer>
