@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Our Services</h5>
                    <p class="light">We are a multi-faceted company, providing and managing high level personal 
                    and major event security operations across many industries.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="material-icons">public</i></h2>
                    <h5 class="center">Our Mission</h5>
                    <p class="light">
                        We believe that the right combination of training
                        and support will enable security forces to protect citizens of our City.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="material-icons">escalator_warning</i></h2>
                    <h5 class="center">Our Code of Ethics</h5>
                    <p class="light">Pirandello/Kruger is committed to complying with the letter and spirit of all laws, 
                    regulations, contractual and ethical obligations to which the company is subject.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper module">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light opp">Our operatives are professionally trained and armed with state-of-the-art equipment.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/pk2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                <p class="left-align light">
                    We believe that the right combination of training
                    and support will enable security forces to protect and safeguard our citizens.
                    As a result, we are committed to sharing best practices through cutting-edge training,
                    complex program management, and logistic support.
                </p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper darker-image">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light opp">Pirandello/Kruger understands the sensitivity, and nature of the operations we undertake</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/pk3.jpg" alt="Unsplashed background img 3"></div>
</div>