@model IEnumerable<CoreService>
@{
    ViewData["Title"] = "Our Services";
}

    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-6 card-panel">
                <div class="panel panel-default">
                    <img src="~/img/placeholder.jpg" />
                    <h4 class="panel-title">@p.CoreServiceTitle</h4>
                    <p>@(p.CoreServicDescription)</p>
                    <div>
                        <ul>
                            @foreach (var s in p.Services)
                            {
                                <li>@s.ServiceTitle</li>
                            }
                    </ul>
                </div>
                </div>
            </div>
        }
    </div>