@model IEnumerable<CoreService>
@{
    ViewData["Title"] = "Our Services";
}

    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-6">
                <img src="~/img/placeholder.jpg"/>
                <h4>@p.CoreServiceTitle</h4>
                <p>@p.CoreServicDescription</p>
            </div>
        }
    </div>