@model IEnumerable<CoreService>
@{
    ViewData["Title"] = "Our Services";
}

    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-6 card-panel">
                <div class="center-align">
                    <img class="service-photo" src="~/img/@(p.Photo).jpg" />
                    <h4>@p.CoreServiceTitle</h4>
                    <p class="left-align">@(p.CoreServiceDescription)</p>
                    <div class="left-align">
                        <ul class="collection">
                            @foreach (var s in p.Services)
                            {
                                <li class="collection-item">@s.ServiceTitle</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>