/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.pk-icon {
    height: 50px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: orange;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#companyName, label {
    padding-left: 5px;
    font-family: adobe-garamond-pro, serif;
    font-style: normal;
    font-weight: 600;
}

#logo-container {
    vertical-align: central;
}

/*h1.opp {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
    width: 500px;
    position: center;
}

h5.opp {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
    position: center;
}*/

.service-photo {
    max-width: 480px;
    max-height: 360px;
    border: 3px solid orange;
}


.darker-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) );
}
/*


.module {
    background: url('../img/pk2.jpg');
    background-attachment: fixed;
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 20px;
}
    .module > header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 10px;
        background: inherit;
        background-attachment: fixed;
        overflow: hidden;
    }

        .module > header::before {
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            width: 200%;
            height: 200%;
            background: inherit;
            background-attachment: fixed;
            -webkit-filter: blur(4px);
            filter: blur(4px);
        }

        .module > header::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.25)
        }

        .module > header > h1 {
            margin: 0;
            color: white;
            position: relative;
            z-index: 1;
        }*/


/*header.secureLayout, main.secureLayout, footer.secureLayout {
    padding-left: 300px;
}

@media only screen and (max-width: 992px){
    header.secureLayout, main.secureLayout, footer.secureLayout {
        padding-left: 0px;
    } 
}

.side-nav li.active {
    background-color: #f5f5f5;
}

.margin-bottom-0px {
    margin-bottom: 0px;
}*/